* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

/* NAVBAR STYLES */
.logo {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    font-size: 2rem;
    font-weight: bold;

    padding: 0 40px;
}

.header {
    /* border: 2px solid brown; */
    z-index: 999;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.nav {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;

    max-width: 1000px;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
    gap: 3px;
}

.nav-menu-item {
    font-size: 18px;
    line-height: 80px;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 20px;
    background: blue;
}

.nav-menu-link:hover {
    transition: 0.5s;
    color: blue;
    background: white;
}

/* TOGGLE */
#toggleMenu {
    color: white;
    background: none;
    border: none;
    padding: 0 20px;
    cursor: pointer;

    display: none;
}

/* MOBILE */
@media (max-width: 845px) {

    .header {
        height: 60px;
    }

    .logo {
        font-size: 25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav-menu {
        flex-direction: column;
        align-items: center;
        margin: 0;
        position: fixed;
        top: 60px;
        width: 100%;

        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;
    }

    .nav-menu-item {
        line-height: 70px;
        font-size: 2rem;
    }

    .nav-menu-link:hover {
        background: none;
        color: yellow;
    }

    #toggleMenu {
        display: block;
    }

    .nav-menu_visible {
        left: 0;
    }

    #toggleMenu:focus:not(:focus-visible) {
        outline: none;
    }

}

/* ----------------------------------------------------------------------- */

/* MOVIES GRID STYLES */

.grid {
    padding-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    justify-content: center;
    gap: 30px;
}

.card {
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    list-style: none;
    text-align: center;
}

.cardImage:hover {
    opacity: 0.8;
}

.cardTitle {
    font-size: 1rem;
    color: white;
}

.cardImage {
    border-radius: 10px;
    background-color: azure;
}

.buyButton {
    background-color: green;
    border-radius: 15px 5px;
    width: 100%;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.buyButton:hover {
    background-color: blue;
}

label {
    color: gray;
}

@media (max-width: 560px) {
    .grid {
        grid-template-columns: 100%
    }
    .cardImage {
        width: 90%;
        height: auto;
    }
}
